/*fonts*/
@font-face {
  font-family: opensans;
  src: url(fonts/OpenSans.ttf);
}
@font-face {
  font-family: openbold;
  src: url(fonts/OpenSans-Semibold.ttf);
}
@font-face {
  font-family: opensemibold;
  src: url(fonts/OpenSans-Semibold.ttf);
}

/*text*/
h1{
  margin-top: 0px;
  font-family: openbold;
  font-size: 200%;
}
h2{

  font-family: opensemibold;
  margin-bottom: 3px;
  margin-top: 0px;
}
h3{
  font-family: opensans;
  margin-top: 3px;
  margin-bottom: 25px;
  font-size: 100%;
}
p{
  font-family: opensans;
}

/*body*/
body{
  margin: 0px;
}

/*header*/
header h1{
  margin-top: 0px;
  margin-bottom: 5px;
  display: inline;
  font-size: 300%;
}
header h2{
  display: inline;
  font-family: openbold;
  font-size: 175%;
}
header{
  background-image: url("fotos/car.jpg") ;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

/*over mijzelf*/
div.over{
  height: 105vh;
  background-color: yellow;
  border: 1px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
h1.titelover {
  width: 375px;
  color: green;
}
div.inhoudover{
  width: 440px;
}

/*werkervaring*/
div.werkervaring h1{
  color: yellow;
  display: block;
}
div.werkervaring{
    height: 105vh;
    background-color: green;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
h1.titelwerk{
  width: 375px;
}
div.inhoudwerk{
  width: 440px;
}

/*opleidingen*/
div.opleidingen{
  height: 105vh;
  background-color: red;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
h1.titelopl{
  width: 375px;
  color: green;
}
div.inhoudopl{
  width: 440px;
}

footer{
  background-color: orange;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

#linkedin{
  width: 50px;
  height: 50px;
}
